.chat-list {
  display: flex;
  flex-direction: column;

  .chat-item {
    display: flex;
    padding: 10px;
    height: 60px;

    &:hover {
      background-color: #eee;
    }

    .chat-info {
      margin-left: 10px;
    }
  }

  .selected .chat-item {
    background-color: #ddd;
  }
}