.chat-list {
  display: flex;
  flex-direction: column;

  .chat-item {
    display: flex;
    padding: 10px;
    height: 60px;
    transition: background 0.2s;

    &:hover {
      background-color: #e5e5e5;
    }

    .chat-info {
      margin-left: 10px;
    }
  }

  .selected {
    .chat-item {
      background-color: #f9f9f9;
      // background: linear-gradient(to right, #f1f1f1, #f9f9f9);
      border-bottom: solid 1px #eee;
    }
  }
}