.chat-list {
  display: flex;
  flex-direction: column;

  .chat-item {
    height: 60px;

    &:hover {
      background-color: #eee;
    }

    &.selected {
      background-color: #ddd;
    }
  }
}