.chat-box {
  .chat-header {
    display: flex;
    height: 60px;
    padding: 10px 20px;

    .chat-info {
      margin-left: 10px;
    }
  }

  .message-list {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    >li {
      margin-bottom: 10px;
    }
  }
}