.chat-box {
  .chat-header {
    height: 60px;
    padding: 10px;
    border-bottom: solid 1px #eee;
  }

  .message-list {
    display: flex;
    flex-direction: column;
    padding: 10px;

    >li {
      margin-bottom: 10px;
    }
  }
}